* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*colors*/
.color-cream {
    background-color: #dfc2af;
}
.color-brown {
    background-color: #814040;
}
.color-midnight-purple {
    background-color: #2D1F32;
}
.color-midnight-pink {
    background-color: #2A1423;
}
.color-night-red {
    background-color: #2e0405;
}

body {
    color: #F5F5F5;
    background-color: #dfc2af;
    transition: background-color 1s ease;
}

.panel {
    min-height: 100vh;
}

.navbar-header {
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 120px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 0.32);
}

.navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navbar a{
    color: white;
    font-size: 24px;
    text-decoration: none;
    margin-right: 35px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

.navbar a:hover{
    border-bottom: 2px solid white;
}

.name-header {
    width: 963px;
    height: 176px;
    position: relative;
    font-size: 128px;
    font-weight: 500;
    text-align: left;
    display: inline-block;
    background: linear-gradient(90deg, #F8E7EF 35.1%, #FFD1E7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-header {
    width: 850px;
    height: 81px;
    flex-shrink: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(90deg, #fad5e5 35.1%, #F8E7EF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-text {
    width: 1139px;
    height: 422px;
    flex-shrink: 0;
    color: #F5F5F5;
    font-family: 'Roboto Light', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.introduction {
    padding-top: 250px;
    padding-left: 118px;
}

main {
    padding-top: 250px;
    padding-left: 118px;
}
.skills-header {
    width: 963px;
    height: 300px;
    flex-shrink: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 128px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(90deg, #ffc3e2 24.04%, #CBCFA2 73.56%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



